body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}

h1 {
  margin: 5px 20px 0;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

footer img {
  max-height: 25px;
}

.section-event img,
.section-personnalite img {
  max-width: 45%;
}

header img {
  border-radius: 0 0 15px 15px;
}

.section-intro img {
  border-radius: 15px;
}

.section-personnalite img {
  border-radius: 15px;
}

header, .section-personnalite {
  background: #d5b092;
}

footer, .section-event {
  background: #1f1611;
  color: #f8ecda;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container p,
.container h2 {
  max-width: 45%;
}

.section,
footer {
  padding: 20px;
}

ul {
  padding-left: 20px;
}

ol {
  list-style: none;
  padding-left: 0;
}

.container-event p {
  max-width: 60%;
}

.container-event img {
  max-width: 40%;
}

.container-event {
  display: flex;
}

.section-intro {
  border-bottom: #d5b092 solid 5px;
}

footer h2 {
  margin: 0 0 25px;
}